body {
    background: #616161;
}

main {
    /* height: 85vh; */
}

.colour {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 9999px;
}

.customiser {
    background: rgba(0,0,0,0.4);
}

.logo {
    width: 100%;
}

.layer-wrap {
    position: relative;
}

.layer-wrap img {
    max-height: 85vh;    
}

.layer-wrap .layer {
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    background: #383737;
}

footer p {
    color: #616161;
}

footer a {
    color: white;
    text-decoration: none;
}